{
  "servers": [
    {
      "name": "test_server",
      "host": "irc.myserver.com",
      "nick": "testbot",
      "userName": "bot",
      "realName": "I am a bot",
      "channels": ["#foobar"]
    }
  ],
  "admins": ["foobar_is_my_auth"],
  "database": {
    "sqlite": {
      "file": "data/database.sqlite"
    },
    "mongodb": {
      "host": "localhost",
      "database": "juanpablo"
    }
  },
  "modules": {
    "enabled": [
      "./ext/database",
      "./ext/pagetitle",
      "./ext/feeds",
      "./ext/seasoncalendar",
      "./ext/standings",
      "./ext/betgame",
      "./ext/chanlog",
      "./ext/polls"
    ],
    "files": {
      "storage": "./data"
    },
    "racecalendar": {
      "file": "./data/season2016.ics"
    },
    "standings": {
      "drivers": "http://www.formula1.com/content/fom-website/en/championship/results/2015-driver-standings.html",
      "teams": "http://www.formula1.com/content/fom-website/en/championship/results/2015-constructor-standings.html"
    },
    "feeds": {
      "refresh": 300,
      "publish": 10,
      "sources": [
        {
          "name": "Autosport",
          "url": "http://www.autosport.com/rss/f1news.xml"
        },
        {
          "name": "F1Fanatic",
          "url": "http://www.f1fanatic.co.uk/feed/"
        },
        {
          "name": "BBC",
          "url": "http://feeds.bbci.co.uk/sport/0/formula1/rss.xml"
        },
        {
          "name": "James Allen",
          "url": "http://www.jamesallenonf1.com/feed/"
        },
        {
          "name": "F1 Technical",
          "url": "http://www.f1technical.net/rss/news.xml"
        },
        {
          "name": "Motorsport",
          "url": "http://www.motorsport.com/rss/category/f1/news"
        },
        {
          "name": "GP247",
          "url": "http://www.grandprix247.com/feed/"
        }
      ]
    },
    "polls": {
      "expires": 300,
      "options": ["yes", "no"]
    },
    "betgame": {
      "results": "https://en.wikipedia.org/wiki/2015_Formula_One_season",
      "baseurl": "https://en.wikipedia.org"
    },
    "chanlog": {
      "database": {
        "sqlite": {
          "file": "data/chanlog.sqlite"
        }
      }
    }
  }
}
